{% extends "modelo.html" %}
{% block conteudo %}

    <h1>Sobre o projeto</h1>
    <p>Este é um sistema educacional desenvolvido para a disciplina de Desenvolvimento de Aplicações Web.</p>
    <p>Desenvolvido por: <a href="https://github.com/Mailson05">@mailson_m05 | Mailson Marques</a></p>
    <p>Desenvolvido por: <a href="https://github.com/JoseNettoo">@netinho_sts | Jose P. Neto</a></p>
    <p>Desenvolvido por: <a href="https://github.com/igorlc1">@igorlc1 | Igor do Lago</a></p>
    <p>Desenvolvido por: <a href="https://github.com/DiegocAlencar">@Diegoc_Alencar | Diego Alencar</a></p>

    <h1>Sobre a equipe</h1>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 8rem;">
          <img src="static/Mailson.jpg" class="card-img-top" alt="Foto de Mailson Marques" width="250px">
          <img src="static/unp.png" alt="Logo da UNP">
          <div class="card-body">
            <p class="card-text">Mailson Marques</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 8rem;">
          <img src="static/Neto3.jpeg" class="card-img-top" alt="Foto de Novo Membro" width="250px">
          <img src="static/unp.png" alt="Logo da UNP">
          <div class="card-body">
            <p class="card-text">Jose Neto</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 8rem;">
          <img src="static/Igor1.jpeg" class="card-img-top" alt="Foto de Novo Membro" width="250px">
          <img src="static/unp.png" alt="Logo da UNP">
          <div class="card-body">
            <p class="card-text">Igor do Lago.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 9rem;">
          <img src="static/Diego1.jpeg" class="card-img-top" alt="Foto de Novo Membro" width="250px">
          <img src="static/unp.png" alt="Logo da UNP">
          <div class="card-body">
            <p class="card-text">Diego Alencar</p>
          </div>
        </div>
      </div>

{% endblock %}